@font-face {
  font-family: hunter;
  src: url(fonts/brown_hunter_vic/BrownHunterVic-Regular.ttf);
}

@font-face {
  font-family: fragment;
  src: url(fonts/Fragmentcore.otf);
}

@font-face {
  font-family: mies;
  src: url(fonts/mieszkanie9/mieszkanie9.otf);
}

@font-face {
  font-family: milven;
  src: url(fonts/milven/Milven-Regular.otf);
}

@font-face {
  font-family: sweet;
  src: url(fonts/sweetgentle/Sweetgentle\ Free.otf);
}
.ruge-boogie-regular {
  font-family: "Ruge Boogie", cursive;
  font-weight: 400;
  font-style: normal;
}
.grandiflora-one-regular {
  font-family: "Grandiflora One", cursive;
  font-weight: 400;
  font-style: normal;
}
.yomogi-regular {
  font-family: "Yomogi", cursive;
  font-weight: 400;
  font-style: normal;
}
