.dynapuff {
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* FONT*/

/* TEXTE*/
#recette h1 {
    font-size: clamp(3rem, 0.2308rem + 9.8462vw, 7rem);
    font-family: Dynapuff;
    font-weight: 100;
    margin-left: 50px;
}

#recette h2 {
    font-family: dynapuff;
    font-weight: 100;
}

#recette h3 {
    font-size: clamp(25px, 0.2308rem + 9.8462vw, 30px);
}

.recette__div {
    flex-grow: 1;
    flex-shrink: 1;
    font-size: clamp(14px, 0.2308rem + 9.8462vw, 20px);
}

/* TEXTE*/

/**div**/
.global {
    background-color: #ffd000;
    font-family: Montserrat;
}

#recette {
    background-color: rgba(255, 238, 218, 0.596);
    padding: 20px;
}

.recette {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 30px;
}

.recette__image {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
    border: 2px solid grey;
    border-radius: 5px;
}

.recette__figure {
    margin: 20px;
}

.recette__img,
.recette__figure img {
    width: 100%;
    display: block;
}

#recette figcaption {
    background-color: #0000003b;
    font-size: 20px;
    text-align: center;
    font-style: oblique;
    font-weight: bold;
    padding: 2px;
    margin: 0;
}

.recette:nth-of-type(odd) .recette__image {
    order: -1;
    transition: transform .2s ease-in-out;
}

.recette:nth-of-type(odd) .recette__image:hover {
    transform: rotate(-5deg);
}

.recette__div:nth-of-type(odd) {
    order: 1;
    flex-basis: 20%;
    line-height: 30px;
}

.recette__div:nth-of-type(even) {
    order: 1;
    flex-basis: 100%;
    line-height: 30px;
}

.recette:nth-of-type(even) .recette__image {
    justify-items: end;
    transition: transform .2s ease-in-out;
}

.recette:nth-of-type(even) .recette__image:hover {
    transform: rotate(5deg);
}
/**div**/


/** DIVIDER**/
hr {
    border: 8px dashed rgba(6, 6, 6, 0.192);
    margin: 20px;
}/** DIVIDER**/

/**home**/
#home {
    display: inline-block;
    position: fixed;
    bottom: 2%;
    right: 2%;
    transition: transform .2s ease-in-out;
    z-index: 2;
}

#homebouton {
    display: inline-block;
    position: fixed;
    bottom: 2%;
    right: 2%;
    transition: .2s ease-in-out;
    z-index: 2;
    color: #ffd000;
}

#homebouton:hover {
    color: aqua;
}
/**home**/