<<<<<<< HEAD
* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: "Yomogi";
}

/* ///////////////////////////////// Général  */
/* Les sélecteurs généraux ont un impact sur chacune des section de la page */
body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    margin: 0;
}

figure {
    margin: 0;
}

img {
    display: block;
    width: 100%;
}


section,
header,
footer {
    min-height: 100vh;
}


.centre {
    max-width: 1500px;
    margin: 0 auto;
    background-color: rgba(241, 231, 224, 0.459);
}

/* ///////////////////////  Couleurs d'arrière plan de chacune des section */

.conteneur:nth-of-type(1) {
    background-repeat: no-repeat;
    background-size: cover;
}

.conteneur:nth-of-type(2) {
    background-image: url(https://files.catbox.moe/lh87as.avif);
    background-repeat: repeat;
    background-size: 20%;
}

.conteneur:nth-of-type(3) {
    background-image: url(https://files.catbox.moe/ur6vwb.jpg);
    background-repeat: repeat;
    background-size: 20%;
}

.conteneur:nth-of-type(4) {
    background-image: url(https://files.catbox.moe/lh87as.avif);
    background-repeat: repeat;
    background-size: 20%;
}

.conteneur:nth-of-type(5) {
    background-image: url(https://files.catbox.moe/ur6vwb.jpg);
    background-repeat: repeat;
    background-size: 20%;
}

.conteneur:nth-of-type(6) {
    background-image: url(https://files.catbox.moe/lh87as.avif);
    background-repeat: repeat;
    background-size: 20%;
}

.conteneur:nth-of-type(7) {
    background-image: url(https://files.catbox.moe/ur6vwb.jpg);
    background-repeat: repeat;
    background-size: 20%;
}

.conteneur:nth-of-type(8) {
    background-image: url(https://files.catbox.moe/lh87as.avif);
    background-repeat: repeat;
    background-size: 20%;
}


/* ////////////////////////////////////////////////// .hero */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: aliceblue;
}

header h1 {
    font-size: 8rem;
    font-family: "Ruge Boogie";
    color: rgb(48, 38, 31);
    margin: 0 auto;
}

header h2 {
    font-size: 2rem;
    font-family: "Yomogi";
    color: rgb(48, 38, 31);
    margin: 0 auto;
}

header h3 {
    font-size: 1rem;
    font-family: "Ruge Boogie";
    color: rgb(48, 38, 31);
    margin: 0 auto;
}

header p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 100px;
    margin-top: 10px;
    font-family: "Yomogi";
    font-weight: bold;
    font-size: 20px;
       color: rgb(48, 38, 31);
}

#inscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 40px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 40px;
    font-family: "Yomogi";
    font-size: 20px;
    max-width: 400px;
}

#inscription h1 {
    font-family: "Ruge Boogie";
    font-size: 8rem;
}

/**/
#valider {
    text-align: center;
}

.formulaire__input {
    border: none;
    border-radius: 10px;
}

form {
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(248, 249, 250);
}

.formulaire__input:checked+label {
    border: none;
}

.fond {
    filter: grayscale(100%);
    transition: all 0.5s ease;
    position: relative;
    content: "";
    background-image: url(https://files.catbox.moe/tm1s2o.jpg);

}

.fond:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);

}

.pas-flou {
    position: relative;
    z-index: 1;

}

.filtre {
    position: relative;
}

.filtre::after {
    backdrop-filter: blur(4px);

    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

table {
    padding: 10px;
    margin: 0 auto;
    background-image: url(https://files.catbox.moe/srey4e.avif);
}

/* ///////////////////////////////////////////////////////////// tableau .tableau */
.tableau {
    width: 90%;
    border-collapse: collapse;
    border: 1px solid #aaa;
}

.tableau th {
    border: 1px solid #aaa;
    padding: 15px 5px;
    text-align: left;
    background-color: #ffffff3d;
}

.tableau td {
    border: 1px solid #aaa;
    padding: 10px 5px;
    background-color: #ffffff6f;
}

legend {
    padding: 10px;
    font-family: "Ruge Boogie";
    text-align: center;
    margin: 0 auto;
    font-size: 50px;
}

footer div {
    display: flex;
    flex-direction: column;
}

.top__bouton {
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 40px;
    text-decoration: none;
    margin-top: 20px;
    color: rgb(210, 177, 107);
    font-weight: bold;
    border: 5px solid white;
}

.top__bouton:hover {
    margin: 0 auto;
    background-color: rgb(127, 102, 79);
    border: 5px solid rgb(127, 102, 79);
    border-radius: 5px;
    font-size: 40px;
    text-decoration: none;
    margin-top: 20px;
    color: rgb(70, 57, 29);
}

.content__footer {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    margin:  0 auto;
    margin-top: 20px;
}

.footer-deux {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 200px;
    margin: 0 auto;
    margin-top: 20px;
      max-width: 1200px;
}
.liens{
     display: flex;
    flex-direction: row;
    gap: 60px;
}
.desc{
   font-size: 21px;
   max-width: 400px;
}
.notice{
position: relative;
top: 40px;
left: 40px;
margin: 0 auto;
}
.b a{
    text-decoration: none;
     color: rgb(70, 57, 29);
background-color: #ffffff;
margin-top: 20px;
border: 5px solid white;
border-radius: 10px;
width: 400px;
} 
=======
* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: "Yomogi";
}

/* ///////////////////////////////// Général  */
/* Les sélecteurs généraux ont un impact sur chacune des section de la page */
body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    margin: 0;
}

figure {
    margin: 0;
}

img {
    display: block;
    width: 100%;
}


section,
header,
footer {
    min-height: 100vh;
}


.centre {
    max-width: 1500px;
    margin: 0 auto;
    background-color: rgba(241, 231, 224, 0.459);
}

/* ///////////////////////  Couleurs d'arrière plan de chacune des section */

.conteneur:nth-of-type(1) {
    background-repeat: no-repeat;
    background-size: cover;
}

.conteneur:nth-of-type(2) {
    background-image: url(https://files.catbox.moe/lh87as.avif);
    background-repeat: repeat;
    background-size: 20%;
}

.conteneur:nth-of-type(3) {
    background-image: url(https://files.catbox.moe/ur6vwb.jpg);
    background-repeat: repeat;
    background-size: 20%;
}

.conteneur:nth-of-type(4) {
    background-image: url(https://files.catbox.moe/lh87as.avif);
    background-repeat: repeat;
    background-size: 20%;
}

.conteneur:nth-of-type(5) {
    background-image: url(https://files.catbox.moe/ur6vwb.jpg);
    background-repeat: repeat;
    background-size: 20%;
}

.conteneur:nth-of-type(6) {
    background-image: url(https://files.catbox.moe/lh87as.avif);
    background-repeat: repeat;
    background-size: 20%;
}

.conteneur:nth-of-type(7) {
    background-image: url(https://files.catbox.moe/ur6vwb.jpg);
    background-repeat: repeat;
    background-size: 20%;
}

.conteneur:nth-of-type(8) {
    background-image: url(https://files.catbox.moe/lh87as.avif);
    background-repeat: repeat;
    background-size: 20%;
}


/* ////////////////////////////////////////////////// .hero */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: aliceblue;
}

header h1 {
    font-size: 8rem;
    font-family: "Ruge Boogie";
    color: rgb(48, 38, 31);
    margin: 0 auto;
}

header h2 {
    font-size: 2rem;
    font-family: "Yomogi";
    color: rgb(48, 38, 31);
    margin: 0 auto;
}

header h3 {
    font-size: 1rem;
    font-family: "Ruge Boogie";
    color: rgb(48, 38, 31);
    margin: 0 auto;
}

header p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 100px;
    margin-top: 10px;
    font-family: "Yomogi";
    font-weight: bold;
    font-size: 20px;
       color: rgb(48, 38, 31);
}

#inscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 40px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 40px;
    font-family: "Yomogi";
    font-size: 20px;
    max-width: 400px;
}

#inscription h1 {
    font-family: "Ruge Boogie";
    font-size: 8rem;
}

/**/
#valider {
    text-align: center;
}

.formulaire__input {
    border: none;
    border-radius: 10px;
}

form {
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(248, 249, 250);
}

.formulaire__input:checked+label {
    border: none;
}

.fond {
    filter: grayscale(100%);
    transition: all 0.5s ease;
    position: relative;
    content: "";
    background-image: url(img/singers-koda-kumi-wallpaper-78565c6a7fece7f97ea01942f2193b00.jpg);

}

.fond:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);

}

.pas-flou {
    position: relative;
    z-index: 1;

}

.filtre {
    position: relative;
}

.filtre::after {
    backdrop-filter: blur(4px);

    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

table {
    padding: 10px;
    margin: 0 auto;
    background-image: url(img/gold-polka-dots-beige-background_53876-108414.avif);
}

/* ///////////////////////////////////////////////////////////// tableau .tableau */
.tableau {
    width: 90%;
    border-collapse: collapse;
    border: 1px solid #aaa;
}

.tableau th {
    border: 1px solid #aaa;
    padding: 15px 5px;
    text-align: left;
    background-color: #ffffff3d;
}

.tableau td {
    border: 1px solid #aaa;
    padding: 10px 5px;
    background-color: #ffffff6f;
}

legend {
    padding: 10px;
    font-family: "Ruge Boogie";
    text-align: center;
    margin: 0 auto;
    font-size: 50px;
}

footer div {
    display: flex;
    flex-direction: column;
}

.top__bouton {
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 40px;
    text-decoration: none;
    margin-top: 20px;
    color: rgb(210, 177, 107);
    font-weight: bold;
    border: 5px solid white;
}

.top__bouton:hover {
    margin: 0 auto;
    background-color: rgb(127, 102, 79);
    border: 5px solid rgb(127, 102, 79);
    border-radius: 5px;
    font-size: 40px;
    text-decoration: none;
    margin-top: 20px;
    color: rgb(70, 57, 29);
}

.content__footer {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    margin:  0 auto;
    margin-top: 20px;
}

.footer-deux {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 200px;
    margin: 0 auto;
    margin-top: 20px;
      max-width: 1200px;
}
.liens{
     display: flex;
    flex-direction: row;
    gap: 60px;
}
.desc{
   font-size: 21px;
   max-width: 400px;
}
.notice{
position: relative;
top: 40px;
left: 40px;
margin: 0 auto;
}
.b a{
    text-decoration: none;
     color: rgb(70, 57, 29);
background-color: #ffffff;
margin-top: 20px;
border: 5px solid white;
border-radius: 10px;
width: 400px;

} 
>>>>>>> 7ff4c2dc1c9519d0d188bdd90f8bc85fef831f9e
