* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: "Yomogi";
}

/* ///////////////////////////////// Général  */
/* Les sélecteurs généraux ont un impact sur chacune des section de la page */
body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    margin: 0;
}
.fond img,
.footer img {
    display: block;
    max-width: 100%;
}


section,
header,
footer {
    min-height: 100vh;
}


.centre {
    max-width: 1500px;
    margin: 0 auto;
    background-color: rgba(241, 231, 224, 0.459);
}

/* ///////////////////////  Couleurs d'arrière plan de chacune des section */

.conteneur:nth-of-type(1) {
    background-repeat: no-repeat;
    background-size: cover;
}

.conteneur:nth-of-type(2) {
    background-image: url(https://files.catbox.moe/lh87as.avif);
    background-repeat: repeat;
    background-size: 20%;
}

.conteneur:nth-of-type(3) {
    background-image: url(https://files.catbox.moe/ur6vwb.jpg);
    background-repeat: repeat;
    background-size: 20%;
}

.conteneur:nth-of-type(4) {
    background-image: url(https://files.catbox.moe/lh87as.avif);
    background-repeat: repeat;
    background-size: 20%;
}

.conteneur:nth-of-type(5) {
    background-image: url(https://files.catbox.moe/ur6vwb.jpg);
    background-repeat: repeat;
    background-size: 20%;
}

.conteneur:nth-of-type(6) {
    background-image: url(https://files.catbox.moe/lh87as.avif);
    background-repeat: repeat;
    background-size: 20%;
}

.conteneur:nth-of-type(7) {
    background-image: url(https://files.catbox.moe/ur6vwb.jpg);
    background-repeat: repeat;
    background-size: 20%;
}

.conteneur:nth-of-type(8) {
    background-image: url(https://files.catbox.moe/lh87as.avif);
    background-repeat: repeat;
    background-size: 20%;
}


/* ////////////////////////////////////////////////// .hero */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: aliceblue;
    position: relative;
}

header h1 {
    font-size: clamp(3rem, 0.2308rem + 9.8462vw, 7rem);
    font-family: "Ruge Boogie";
    color: rgb(48, 38, 31);
    margin: 0 auto;

}

header h2 {
    font-size: 2rem;
    font-family: "Yomogi";
    color: rgb(48, 38, 31);
    margin: 0 auto;
}

header h3 {
    font-size: 1rem;
    font-family: "Ruge Boogie";
    color: rgb(48, 38, 31);
    margin: 0 auto;
}

header p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 100px;
    margin-top: 10px;
    font-family: "Yomogi";
    font-weight: bold;
    font-size: 20px;
    color: rgb(48, 38, 31);
}


/* ///////////////////////////////////////////////////////////// FORUMLAIRE */
#inscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 40px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 40px;
    font-family: "Yomogi";
    font-size: 20px;
    flex-basis: 400px;
}

#inscription h1 {
    font-family: "Ruge Boogie";
    font-size: clamp(3rem, 0.2308rem + 9.8462vw, 7rem);
}

.formulaire__label,
.formulaire__input,
.formulaire-rad {
    font-size: clamp(7px, 0.2308rem + 2.8462vw, 20px);
}


#valider {
    text-align: center;
}

.formulaire__input {
    border: none;
    border-radius: 10px;
}

form {
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(248, 249, 250);
}

.formulaire__input:checked+label {
    border: none;
}
/* ///////////////////////////////////////////////////////////// FORMULAIRE */

/* ///////////////////////////////////////////////////////////// FOND HERO */
.fond {
    filter: grayscale(100%);
    transition: all 0.5s ease;
    position: relative;
    content: "";
    background-image: url(https://files.catbox.moe/tm1s2o.jpg);

}

.fond:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);

}

.pas-flou {
    position: relative;
    z-index: 1;

}

.filtre {
    position: relative;
}

.filtre::after {
    backdrop-filter: blur(4px);

    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

/* ///////////////////////////////////////////////////////////// FOND HERO */


/* ///////////////////////////////////////////////////////////// tableau .tableau */

table {

    margin: 0 auto;
    background-image: url(https://files.catbox.moe/srey4e.avif);
}

.tableau {
    border-collapse: collapse;
    border: 1px solid #aaa;
    font-size: clamp(10px, 0.1rem + 2vw, 25px);
}


.tableau th {
    border: 1px solid #aaa;
    padding: 15px 5px;
    text-align: left;
    background-color: #ffffff3d;
}

.tableau td {
    border: 1px solid #aaa;
    padding: 10px 5px;
    background-color: #ffffff6f;
}

.tableau figure,
.tableau img {
    max-width: 200px;
}

legend {
    padding: 10px;
    font-family: "Ruge Boogie";
    text-align: center;
    margin: 0 auto;
    font-size: 50px;
}
/* ///////////////////////////////////////////////////////////// tableau */

/* ///////////////////////////////////////////////////////////// footer */
footer div {
    display: flex;
    flex-direction: column;
}

.top__bouton {
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 40px;
    text-decoration: none;
    margin-top: 20px;
    color: rgb(210, 177, 107);
    font-weight: bold;
    border: 5px solid white;
}

.top__bouton:hover {
    margin: 0 auto;
    background-color: rgb(127, 102, 79);
    border: 5px solid rgb(127, 102, 79);
    border-radius: 5px;
    font-size: 40px;
    text-decoration: none;
    margin-top: 20px;
    color: rgb(70, 57, 29);
}

.content__footer {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    margin: 0 auto;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-deux {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 200px;
    margin: 0 auto;
    margin-top: 20px;
    flex-wrap: wrap;
}

.liens {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.desc {
    font-size: 21px;
    flex-basis: 400px;
}

.notice {
    margin: 0 auto;
    margin-top: 20px;
}

.section_b a {
    text-decoration: none;
    color: rgb(70, 57, 29);
    background-color: #ffffff;
    margin-top: 20px;
    border: 5px solid white;
    border-radius: 10px;
}

.section_a img {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 500px;
}

/* ///////////////////////////////////////////////////////////// footer */

/*************** section article        *************************************/
#article {
    display: flex;
    flex-direction: column;

}

.article_figure {
    flex-basis: 400px;
    flex-shrink: 1;
    flex-grow: 0;
    margin: 0 auto;
}

.article_figure img {
    width: 100%;
    object-fit: cover;
}

.article_p {
    margin-top: 40px;
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 1;
}

.article_div {
    flex-grow: 1;
    flex-shrink: 1;
}

.article {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
h3 {
    font-size: 35px;
    color: #534033;
}

.article figcaption {
    background-color: #82828238;
    font-size: 15px;
    text-align: center;
    font-style: oblique;
    font-weight: bold;
    padding: 2px;
    margin: 0;
}

.article:nth-of-type(odd) .article_figure {
    order: -1;
}

.article:nth-of-type(even) .article_figure {
    order: 1;
}

.article_div {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
    display: flex;
}

.article {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;

}

.article_div p {
    line-height: 1.6rem;
    font-size: clamp(7px, 0.2308px + 2.8462vw, 25px);
}

.article_p {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}

.article:nth-of-type(odd) {
    background-color: white;
}

.h3_article {
    margin-left: 70px;
}

/*************** section article        *************************************/

/* galerie*/
.galerie {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    flex-wrap: wrap;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
}

.galerie_figure {
    flex: 1 1;
    flex-basis: 220px;
    rotate: -10deg;
    margin-top: 50px;
    transition: transform .3s ease-in-out;
}

.galerie_figure:hover {
    flex: 1 1;
    flex-basis: 220px;
    rotate: -10deg;
    margin-top: 50px;
    transform: scale(1.4);
    z-index: 2;
}

.galerie_figure:nth-of-type(odd) {
    rotate: 20deg;
}

.galerie_figure img,
.img_galerie {
    width: 100%;
}

.galerie_figure:nth-of-type(1) {
    filter: brightness(1.1);
}

.galerie_figure:nth-of-type(2) {
    filter: grayscale(1);
}

.galerie_figure:nth-of-type(3) {
    filter: hue-rotate(20deg);
}

.galerie_figure:nth-of-type(4) {
    filter: drop-shadow(16px 16px 20px rgb(0, 0, 0))
}

.galerie_figure:nth-of-type(5) {
    filter: sepia(2);
}

.galerie_figure:nth-of-type(6) {
    filter: blur(2px);
}

.galerie_figure:nth-of-type(7) {
    filter: contrast(130%);
}

.galerie_figure:nth-of-type(8) {
    filter: saturate(80%);
}

.galerie_figure:nth-of-type(9) {
    filter: sepia(0.2);
}

.galerie_figure:nth-of-type(10) {
    filter: brightness(1.3);
}

/* galerie*/

/*IFRAME ****************************************/

iframe {

    border: #ffffff 2px solid;
    border-radius: 10px;
    flex-shrink: 1;
    flex-grow: 0;
    flex-basis: 400px;
    margin: 50px;
}

#videos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*IFRAME ****************************************/